h1 {
    font-family: montserrat;
    font-size: 58px;
    font-weight: 700;
    color: #252B42;
}

h2 {
    font-family: montserrat;
    font-size: 44px;
    font-weight: 600;
    line-height: 36px;
    color: #252B42;
}

h3 {
    font-family: montserrat;
    font-size: 40px;
    font-weight: 700;
    color: #252B42;
    ;
}

p {
    font-family: montserrat;
    font-size: 24px;
    font-weight: 500;
    color: #737373;
    ;
}
ul li a{
    font-weight: bold;
}

.container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

/*Skip links*/
a:focus{
    outline: 4px solid black;
  }
  .skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  .skip-links a:focus{
    top: 0;
  }

header img {
    width: 100%;
}

main img {
    width: 100%;
}

.logo {
    padding: 10px 10px 10px 10px;
    margin: 0 auto;

}

.nav-bar {
    text-align: center;

}

.navigation {
    display: inline-block;
    color: #252B42;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
    width: 40%;
    padding: 1em;
    font-family: montserrat;
    font-size: 18px;

}

.navigation a {
    margin: 0;
    padding: 15px;
    color: #252B42;
    text-decoration: none;

}

.navigation a:hover {
    background-color: #FA4A0C;

}

.play a {
    display: list-item;
    text-decoration: none;
    color: #FA4A0C;
    font-family: montserrat;
    font-size: 24px;
    border-radius: 30px;
    padding: 16px;
    border: 1px;

}

.play a:hover {
    background-color: #FA4A0C;
    color: white;
}

.creation h2 {
    color: #FA4A0C;
    font-family: montserrat;
    font-size: 24px;
}

.exploring h2 {
    color: #FA4A0C;
    font-family: montserrat;
    font-size: 24px;
}

.checking-out h2 {
    color: #FA4A0C;
    font-family: montserrat;
    font-size: 24px;
}

.top-header {
    text-align: center;
}

.top-header div {
    margin: 20px auto;
}

.top-header div ul {
    padding: 0;
    list-style: none;
}

.top-header div ul li {
    display: inline;
    margin-right: 10px;
}

.main {
    text-align: center;
}

.main div {
    margin: 20px auto;
}

.download h3 {
    color: #ffffff;

}

.download {
    background-color: #252B42;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;

}

.download ul li {
    display: inline;

}

.download a {
    font-family: montserrat;
    font-size: 16px;
    color: #ffffff;
    gap: 13px;
    padding-left: 20px;
    text-decoration: none;
    border-radius: 2em;


}

.download a:hover {
    background-color: #FA4A0C;
}

.footer {
    text-align: center;
}

.social-icons i {
    font-size: 30px;
    color: #FA4A0C;
    margin-bottom: 20px;
}

/*Contact*/
.con {
    font-family: montserrat;
    font-size: 40px;
    text-align: center;
    color: #FA4A0C;
}
form {
    font-family: montserrat;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}

label {
    font-family: montserrat;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    font-family: montserrat;
    font-size: 20px;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

button {
    font-family: montserrat;
    font-size: 20px;
    background-color: #FA4A0C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.footer-contact .social {
    text-align: center;
    /* Center align the content */
}

.footer-contact .social i {
    display: inline;
    color: #FA4A0C;
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
}

.footer-contact div p {
    margin: 0;
    /* Remove default margin of the paragraph */
    text-align: center;
    /* Center align the paragraph */
}

/*FAQ page*/
.faq h1 {
    font-family: montserrat;
    font-size: 40px;
    color: #FA4A0C;
    text-align: center;
    
}
.pagethree {
    text-align: center;
}
.pagethree h2 {
    font-family: montserrat;
    font-size: 24px;
}

/*Product page*/
.produce {
    text-align: center;
    font-family: montserrat;
}
.produce h1 {
    font-size: 40px;
    color: #FA4A0C;
}
.produce h2 {
    font-size: 24px;
}



/*Animation contact send ::after*/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
    .send:active {
        animation: shake 0.1s ease-in-out infinite;
        animation-delay: 0.5s;
      }

      /*Animation faq send :hover*/
      @keyframes hop {
        10%, 25% { 
          transform: scale(1.3, 0.7); 
        }
        
        50% { 
          transform: scale(0.5, 2) translate(0, -100px); 
        }  
        
        60% { 
          transform: scale(1, 1) translate(0, 0);   
        } 
        
        75% { 
          transform: scale(1.3, 0.7) translate(0, 0); 
        }
        
        85% { 
          transform: scale(1, 1) translate(0, 0);   
        }
      }
        .mine:hover {
            transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
              animation: color 1s ease-in-out infinite alternate, hop 2s ease-in-out infinite; /* Apply both animations */
            }

  

/*Mobile*/

@media screen and (min-width: 768px) {
    .top-header img {
        width: 300px;
        height: 400px;
        align-content: center;

    }
}
/*Desktop*/
@media screen and (min-width: 1024px) {
    .top-header img {
        width: 417px;
        height: 570px;
        
    }

    .water img {
        width: 390px;
        height: 525px;
    }

    .download {
        background-image: url(../images/bannertwo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    .download p {
        color: #ffffff;
    }

    .download p:before {
        content: "Available in your favorite store. Start your premium experience now"
    }

    .top-header {
        background-image: url(../images/bannerone.png);
        background-repeat: no-repeat;

    }

    .top-header h1 {
        color: #ffffff;
    }

    .top-header p {
        color: #ffffff;
    }

    .top-header ul li a {
        display: inline;
        color: #ffffff;
    }
    .creation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "a b";
        margin: 2rem 0;
    }
    .creation img {
        grid-area: a;

    }
    .creation .act {
        grid-area: b;
        text-align: left;

    }
    .exploring {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "a b";
        margin: 2rem 0;
    }
    .exploring .second {
        grid-area: a;
        text-align: left;
    }
    .exploring img {
        grid-area: b;
    }

    .checking-out {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "a b";
        margin: 2rem 0;
    }
    .checking-out img {
        grid-area: a;
    }
    .checking-out .third {
        grid-area: b;
        text-align: left;
    }


}