h1{
    font-family: montserrat;
    font-size: 58px;
    font-weight: 700;
}

h2 {
    font-family: montserrat;
    font-size: 44px;
    font-weight: 600;
    line-height: 36px;
}

h3{
    font-family: montserrat;
    font-size: 40px;
    font-weight: 700;
}

